<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Exportdataprocessing.Properties.Settings.yiyilandbConnectionString" connectionString="Data Source=YIYILAN-PC\SQLEXPRESS;Initial Catalog=yiyilandb;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="yiyilandbEntities" connectionString="metadata=res://*/ProductsData.csdl|res://*/ProductsData.ssdl|res://*/ProductsData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YIYILAN-PC\SQLEXPRESS;initial catalog=yiyilandb;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>